// _icons.scss
.icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

@mixin icon-colors($fallback: black) {
    fill: $fallback;
    @content;
}

.logo-bookmark {
    width: 7rem;
    height: 1.5rem;
    vertical-align: middle;
}

.logo-bookmark-footer {
    @extend .logo-bookmark;

    @include icon-colors() {
        --color1: #fff;
    }
}

.logo-bookmark-white {
    @extend .logo-bookmark;

    @include icon-colors() {
        --color1: #fff;
        --color2: #fff;
        --color3: #{$very-dark-blue};
    }
}

.icon-twitter {
    width: 1.2001953125rem;
}

.icon-hamburger {
    width: 1.2001953125rem;
}

.icon-close {
    width: 1.06640625em;
}

.icon-arrow {
    width: 1.5rem;
}

.icons-stack {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: rem(48);
    height: rem(48);
    width: 100%;

    i {
        position: absolute;
        left: 0;
        width: 100%;
    }
}