// _navbar.scss
.navbar {
    &__title {
        .icon {
            transition: opacity 400ms ease 10ms;
        }

        .logo-bookmark {
            opacity: 1;
        }

        .logo-bookmark-white {
            opacity: 0;
        }
    }

    &__toggle {
        display: none;
    }

    &__menu {
        a {
            font-size: 1rem;
        }

        a:not(.btn) {
            padding: $space-s 0;
            color: $soft-blue;
        }

        a.btn {
            padding: $space-s $space-m;
        }

        .icon {
            width: 1.5rem;
            height: 1.5rem;
            --color3: #{$soft-blue};
        }

        li {
            margin: $space-s 0;
        }

        li ul li {
            display: inline-block;

            &:first-child {
                margin: 0 $space-l 0 0;
            }
        }
    }

    @media (min-width:768px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        &__mobile-visible {
            display: none !important;
            visibility: hidden;
        }

        &__menu {
            a {
                font-size: $space-m;
            }

            li {
                display: inline-block;
                margin: 0 $space-xxl 0 0;

                &:first-child {
                    margin-left: 0;
                }

                &:nth-last-child(2) {
                    margin-right: 0;
                }
            }
        }
    }
}

.links {
    a {
        text-transform: uppercase;
        letter-spacing: 1px;

        &:not(.btn):hover {
            color: $soft-red;
        }
    }

}

// js enable
@mixin nav-toggle($state) {
    @if $state=="open" {
        visibility: visible;
        opacity: 1;
        z-index: 88;
        pointer-events: visible;
    }

    @else if $state=="close" {
        visibility: hidden;
        opacity: 0;
        z-index: -88;
        pointer-events: none;
    }

    transition: opacity 500ms ease-in-out 100ms;
}

$nav-height: rem(90);

.js {

    @media (max-width: 767px) {
        .navbar {
            height: $nav-height;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__title,
            &__toggle {
                display: inline-block;
                width: 49%;
                position: relative;
                z-index: 99;
                height: rem(48);
            }

            &__toggle {
                text-align: right;

                button {
                    border: none;
                    background-color: transparent;
                    vertical-align: middle;
                    width: rem(48);
                    height: rem(48);
                    text-align: right;
                }

                .icon__hamburger {
                    opacity: 1;
                }

                .icon__close {
                    opacity: 0;
                }
            }

            &__menu {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                padding: $nav-height 8% 0;
                width: 100%;
                height: 100vh;
                background-color: rgba($very-dark-blue, 0.9);
                text-align: center;
                backface-visibility: hidden;

                @include nav-toggle("close");

                a {
                    width: 100%;
                    color: #fff;
                    padding: $space-m;
                }

                a.btn {
                    margin: $space-xl 0 $space-xxl;
                    border-color: $light-gray;
                    background-color: transparent;
                }

                .icon {
                    font-size: 1.5rem;
                    --color3: #{$soft-red}
                }

                &>li:last-child {
                    margin-top: 25%;
                }
            }

            &__link {
                border-bottom: thin solid rgba($light-gray, 0.25);

                &:first-child {
                    border-top: thin solid rgba($light-gray, 0.25);
                }
            }

        }
    }
}

// Toggle menu
.js-toggle-menu {

    @media (max-width:767px) {
        transition: background 500ms ease-in-out 100ms;

        .navbar {
            &__title {
                .logo-bookmark {
                    opacity: 0;
                }

                .logo-bookmark-white {
                    opacity: 1;
                }
            }

            &__toggle {
                .icon__hamburger {
                    opacity: 0;
                }

                .icon__close {
                    opacity: 1;
                }
            }

            &__menu {
                @include nav-toggle("open");
            }
        }
    }
}

// Screen reader visible.
.sr-visible {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    // And visually to sighted users.
    &.sr-focusable:focus,
    &.sr-focusable:active {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}