$version: 1;
/*
    Version: #{version}
    Author: thecalicoder
    Github: github.com/thecalicoder
    Year: 2019
    Project: Web Starter Kit
*/
// base/ - contains global styles, such as resets, typography, colors, etc.
// components/ - contains each self-contained component in its own .scss partial
// layout/ - contains styling for larger layout components; e.g. nav, header, footer, etc.
// pages/ - contains page-specific styling, if necessary
// themes/ - contains styling for different themes
// utils/ - contains global mixins, functions, helper selectors, etc.
// vendors/ - contains 3rd-party styles, mixins, etc.
// main.scss - output file that brings together all of the above parts

// UTILS
@import "./globals";
@import "./functions";
@import "./mixins";

// BASE
@import "./reset";

// LAYOUT

// COMPONENTS

// PAGES

// THEMES

// VENDORS